<div class="jumbotron">
    <h1>Cornell University Email Services</h1>
    <p class="lead">List Service Management WebAPI</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>This WebAPI provides fuctions to manage and maintain 
        directroy objects and TeamDynamix service requests for the
        Cornell Email List Service</p>

    </div>
</div>
