@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Cornell Information Technologies<br />
    Email Services<br />
    <abbr title="Phone">P:</abbr>
    607.255.1757
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:wtholmes@cornell.edu">Support</a><br />

</address>