<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.4.4" targetFramework="net48" />
  <package id="Marvin.JsonPatch" version="1.1.0" targetFramework="net48" />
  <package id="Marvin.JsonPatch.Dynamic" version="1.1.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="TeamDynamix.Api" version="11.2.0" targetFramework="net48" />
</packages>